// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
/* 

.nuxt-content h2 {
  line-height: 2rem;
    font-weight: 400;
  font-family: "Roboto",
  sans-serif;
  font-size: 1.5rem;
  letter-spacing: normal;
  padding: 12px;
  margin-left: 12px;

  @media (max-width: 800px) {

    padding: 6px;
    margin-left: 6px;
  }

  @media (max-width: 600px) {

    padding: 0px;
    margin-left: 0px;
  }
}
 */

.nuxt-content hr {
  border-color: rgba(0, 0, 0, .12);
  display: block;
  flex: 1 1 0px;
  max-width: 100%;
  height: 0;
  max-height: 0;
  border: solid;
  border-width: thin 0 0;
  transition: inherit;
}

.nuxt-content h1, h1 {
  font-weight: 800;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  letter-spacing: normal;

}

.nuxt-content p, p,
.nuxt-content li {
  padding: 12px;
  flex: 1 1 auto;
  max-width: 100%;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 24px;

  @media (max-width: 800px) {

    padding: 6px;
    margin-left: 6px;
  }

  @media (max-width: 600px) {

    padding: 0px;
    margin-left: 0px;
  }
}

$primary:#00c2cb !important;
