// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
/* 

.nuxt-content h2 {
  line-height: 2rem;
    font-weight: 400;
  font-family: "Roboto",
  sans-serif;
  font-size: 1.5rem;
  letter-spacing: normal;
  padding: 12px;
  margin-left: 12px;

  @media (max-width: 800px) {

    padding: 6px;
    margin-left: 6px;
  }

  @media (max-width: 600px) {

    padding: 0px;
    margin-left: 0px;
  }
}
 */
$body-font-family: 'Lato', sans-serif;
.nuxt-content hr {
  border-color: rgba(0, 0, 0, 0.12);
  display: block;
  flex: 1 1 0px;
  max-width: 100%;
  height: 0;
  max-height: 0;
  border: solid;
  border-width: thin 0 0;
  transition: inherit;
}
.nuxt-content h2,
h2 {
  font-family: 'Poppins', sans-serif;
  letter-spacing: normal;
  margin-top: 30px;
  margin-bottom: 10px;
  word-break: normal;
}
.nuxt-content h1,
h1 {
  font-weight: 600;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: normal;
  word-break: normal;
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: normal;
}
.nuxt-content img {
  max-width: 100%;
}
.subtitle {
  flex: 1 1 auto;
  max-width: 100%;
  font-family: 'Lato', sans-serif;
  word-break: normal;
}
.v-card__title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.15rem;
  word-break: normal;
}
.v-card__text,
.v-breadcrumbs,
.v-card__subtitle,
.v-footer,
.v-application .headline,
.v-list-item__subtitle {
  font-family: 'Lato', sans-serif !important;
}
.nuxt-content p,
p,
.nuxt-content ul li {
  flex: 1 1 auto;
  max-width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  word-break: normal;
  color: rgba(0, 0, 0, 0.6);
  font-family: 'Lato', sans-serif !important;
  font-weight: 400 !important;
  line-height: 1.375rem !important;
  letter-spacing: 0.0071428571em !important;
}
.nuxt-content ul {
  margin-bottom: 20px;
}
$primary: #00c2cb !important;
