import colors from 'vuetify/es5/util/colors'

export default {
  name: "{{ .Env.ROOT_NAME }}",
  full_name: "{{ .Env.ROOT_FULLNAME }}", // set to false if there is none
  description: "{{ .Env.ROOT_DESCRIPTION }}",
  recaptcha: "{{ .Env.ROOT_RECAPTCHA }}",
  graphqlEndpoint: "{{ (ds "ssm" (print "/root/" ( getenv "ROOT_NAME" ) "/api/endpoint") ).Value }}",
  isBranch: false,
  url: 'https://wprn.org',
  fields: {
    fullText: true,
    status: true,
    entity: true,
    thematic: true,
    discipline: true,
    continent: true,
    country: true,
    type: true,
    blazon: true,
    branch: true,
    featured: true,
    verified: true,
    team: true,
    cite: true,
    listReferents: true,
    showAll: true
  },
  features: {
    theme: true,
    referents: true,
    publicAlerts: true,
    projetAlters: true
  },
  font: {
    family: 'String',
    fallback: 'String'
  },
  theme: {
    dark: false,
    themes: {
      light: {
        primary: '#1976D2',
        secondary: '#424242',
        accent: '#82B1FF',
        error: '#FF5252',
        info: '#2196F3',
        success: '#4CAF50',
        warning: '#FFC107'
      },
      dark: {
        primary: colors.blue,
        accent: colors.grey.darken3,
        secondary: colors.amber.darken3,
        info: colors.teal.lighten1,
        warning: colors.amber.darken3,
        error: colors.deepOrange.darken3,
        success: colors.green.accent3
      }
    }
  }

}
